#version: "3.9"

services:
  mysql:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      CHESSDB_NAME: ${CHESSDB_NAME}
      CHESSDB_ADMIN_USER: ${CHESSDB_ADMIN_USER}
      CHESSDB_ADMIN_PASS: ${CHESSDB_ADMIN_PASS}
      CHESSDB_PUBLIC_USER: ${CHESSDB_PUBLIC_USER}
      CHESSDB_PUBLIC_PASS: ${CHESSDB_PUBLIC_PASS}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ./my_custom.cnf:/etc/mysql/conf.d/my_custom.cnf
      - mysql_data:/var/lib/mysql
      - ./db_init.sh:/docker-entrypoint-initdb.d/db_init_1.sh:ro
      - ./CHESSApp_DB/chess.db.schema.mysql.sql:/docker-entrypoint-initdb.d/db_init_2.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h 127.0.0.1 -uroot -p$${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 15s

  backend_admin:
    build:
      context: ./CHESSApp_back
      dockerfile: Dockerfile
#    command: ["/opt/venv/bin/flask", "-w", "1", "-b", "0.0.0.0:5001", "--access-logfile", "-", "--error-logfile", "-", "app_admin:app"]
    command: ["/opt/venv/bin/python", "-m", "flask", "--app", "app_admin", "run", "--host=0.0.0.0", "--port=5001"]
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      CHESSDB_HOST: mysql
      CHESSDB_NAME: ${CHESSDB_NAME}
      CHESSDB_USER: ${CHESSDB_ADMIN_USER}
      CHESSDB_PASS: ${CHESSDB_ADMIN_PASS}
      FLASK_DEBUG: 1
      FLASK_ADMIN_PORT: ${FLASK_ADMIN_PORT}
      FRONTEND_ADMIN_PORT: ${FRONTEND_ADMIN_PORT}
      CORS_ALLOWED_ORIGINS:  http://localhost:${FRONTEND_ADMIN_PORT}
    ports:
      - "${FLASK_ADMIN_PORT}:5001"
    volumes:
      - ./CHESS_WEB:/CHESS_WEB

  frontend_admin:
    build:
      context: ./CHESSApp_front_admin
      dockerfile: Dockerfile
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0", "--port", "5112"]
    restart: unless-stopped
    environment:
      FRONTEND_ADMIN_PORT: ${FRONTEND_ADMIN_PORT}
      FLASK_ADMIN_PORT: ${FLASK_ADMIN_PORT}
      VITE_API_BASE_URL: http://localhost:${FLASK_ADMIN_PORT}/api
    ports:
      - "${FRONTEND_ADMIN_PORT}:5112"
    volumes:
      - ./CHESS_WEB:/CHESS_WEB
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:5112"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  frontend_public:
    build:
      context: ./CHESSApp_front_public
      dockerfile: Dockerfile
    command: npm run dev -- --host 0.0.0.0 --port 5113
    restart: unless-stopped
    environment:
      FRONTEND_PUBLIC_PORT: ${FRONTEND_PUBLIC_PORT}
      FLASK_PUBLIC_PORT: ${FLASK_PUBLIC_PORT}
      VITE_API_BASE_URL: http://localhost:${FLASK_PUBLIC_PORT}/api
    ports:
      - "${FRONTEND_PUBLIC_PORT}:5113"
    volumes:
      - ./CHESS_WEB:/CHESS_WEB
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:5113"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  backend_public:
    build:
      context: ./CHESSApp_back
      dockerfile: Dockerfile
#    command: ["/opt/venv/bin/flask", "-w", "1", "-b", "0.0.0.0:5000", "--access-logfile", "-", "--error-logfile", "-", "app_public:app"]
    command: ["/opt/venv/bin/python", "-m", "flask", "--app", "app_public", "run", "--host=0.0.0.0", "--port=5000"]
    restart: unless-stopped
    depends_on:
      mysql:
        condition: service_healthy
    environment:
      CHESSDB_HOST: mysql
      CHESSDB_NAME: ${CHESSDB_NAME}
      CHESSDB_USER: ${CHESSDB_PUBLIC_USER}
      CHESSDB_PASS: ${CHESSDB_PUBLIC_PASS}
      FLASK_DEBUG: 1
      FLASK_PUBLIC_PORT: ${FLASK_PUBLIC_PORT}
      FRONTEND_PUBLIC_PORT: ${FRONTEND_PUBLIC_PORT}
      CORS_ALLOWED_ORIGINS:  http://localhost:${FRONTEND_PUBLIC_PORT}
    ports:
      - "${FLASK_PUBLIC_PORT}:5000"
    volumes:
      - ./CHESS_WEB:/CHESS_WEB

volumes:
  mysql_data:
