[mysqld]
log_bin_trust_function_creators=1
#innodb_redo_log_capacity = 2G
#innodb_flush_log_at_trx_commit = 2
sync_binlog = 0
innodb_doublewrite = 0

#new
innodb_buffer_pool_size=1G
innodb_flush_log_at_trx_commit=2
innodb_flush_log_at_trx_commit = 0
innodb_log_file_size = 1M
innodb_log_files_in_group = 2
